body {
  font-family: "Raleway, Open sans";
}
.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.logo-part {
  width: 50%;
}
.logo {
  width: 10em;
  padding-left: 5em;
}
.header-buttons {
  width: 50%;
  background-color: antiquewhite;
}

.header-buttons ul {
  list-style-type: none;
  display: flex;
  padding-left: 10em;
}

.header-buttons ul li {
  margin-left: 8vh;
  font-size: 2em;
  font-family: "Open sans";
}
.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
  background-color: palegoldenrod;
}
.advertisement {
  width: 35em;
  margin-left: 5em;
}
h1 {
  font-size: 40px;
}
p {
  width: 30em;
  font-size: 16px;
}
main.img {
  width: 50%;
  padding-right: 5em;
}
.illustration-1 {
  width: 50em;
}
.main-input {
  width: 20em;
  height: 3em;
  border: solid;
  border-width: 1px;
}
.main-input ::placeholder {
  font-size: 19px;
}
.get-started-btn {
  width: 15em;
  height: 3em;
}
.main-2 {
  margin-top: 20px;
  width: 100%;
  background-color: azure;
  display: flex;
  flex-direction: row;
}
.illustration-2 {
  width: 50em;
}
.main-words {
  width: 50%;
  background-color: bisque;
}
.main-words {
  width: 50%;
  background-color: rgb(148, 117, 78);
}
.main-img {
  width: 50%;
  background-color: rgb(129, 104, 104);
}
